.vscode/
venv/
.venv/
db.sqlite3
.ipynb_checkpoints
.pytest_cache
**/.DS_Store
**/__pycache__
variables/
*.pkl
*.h5
*.html
.python-version
models/model.h5
test/data_sets/training_images
token_key.txt
agent

